# Byte-compiled files
__pycache__/
*.py[cod]
*.pytest_cache

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment and secrets
.env
*.env

# Logs and models
logs/
#models/
#*.h5

# IDE / OS junk
.vscode/
.DS_Store

*.npy
*.png
*.npz

#project egg folder ignore
mlops_project.egg-info/
